@font-face {
    font-family: 'cerapro-black';
    src: local('cerapro-black'),
         url('./fonts/cerapro-black.ttf') format('truetype'),

}

@font-face {
    font-family: 'cerapro-blackitalic';
    src: local('cerapro-blackitalic'),
         url('./fonts/cerapro-blackitalic.ttf') format('truetype'),

}
@font-face {
    font-family: 'cerapro-bold';
    src: local('cerapro-bold'),
         url('./fonts/cerapro-bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'cerapro-bolditalic';
    src: local('cerapro-bolditalic'),
         url('./fonts/cerapro-bolditalic.ttf') format('truetype'),
}
@font-face {
    font-family: 'cerapro-light';
    src: local('cerapro-light'),
         url('./fonts/cerapro-light.ttf') format('truetype'),
}
@font-face {
    font-family: 'cerapro-lightitalic';
    src: local('cerapro-lightitalic'),
         url('./fonts/cerapro-lightitalic.ttf') format('truetype'),
}