body {
  margin: 0;
  font-family: "Roboto"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* roboto */

 @font-face {
  font-family: "roboto-medium";
  src: local("roboto-medium"),
   url("./fonts/roboto/Roboto-Medium.ttf") format("truetype");
 }

 @font-face {
  font-family: "roboto-regular";
  src: local("roboto-regular"),
   url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
 }

 @font-face {
  font-family: "roboto-bold";
  src: local("roboto-bold"),
   url("./fonts/roboto/Roboto-Bold.ttf") format("truetype");
 }

 @font-face {
  font-family: "roboto-mediumitalic";
  src: local("roboto-mediumitalic"),
   url("./fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
 }



 